.container{
    width:1440px;
    padding-left: 128px;
    padding-right:128px;
    margin-left: auto;
    margin-right: auto;
    padding-top:100px;
    padding-bottom:150px ;
}
.loadMoreBtn{
    border:none;
    cursor:pointer;
    color:var(--brand-color);

    background-color:transparent ;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    text-decoration-line: underline;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color var(--transition-duration) var(transition-time-function);
}
.loadMoreBtn:hover,.loadMoreBtn:focus{
    color:var(--active-color);
}