.selectLabel {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: var(--label-color);
}
.select {
  border: none;
  border-radius: 14px;
  padding: 14px 18px;
  width: 125px;
  height: 48px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;

  background: var(--from-to-color);
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.iconWrapper {
  position: relative;
}
select option.defaultOption {
  color: #121417;
}
select option.brandOption {
  color: var(card-text-color);
}

.selectWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.defaultOption {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: var(--main-color);
}
.brandOption {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--card-text-color);
}
.searchBtn {
  border-radius: 12px;
  padding: 14px 44px;
  width: 136px;
  height: 48px;
  cursor: pointer;
  border: none;
  background: var(-brand-color);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.43;
  color: var(--invent-color);
  display: block;
}
.searchBtn:hover,
.searchBtn:focus {
  background-color: var(active-color);
}
.selectIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 14px;
  right: 14px;
  
}
.iconDown{
  transform: rotate(180deg);
  }