.navList {
  display: flex;
  justify-content: space-between;
  
}
.container {
  width: 1440px;
  padding-left: 128px;
  padding-right: 128px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
 
  
}
.link {
  
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.43;
  color: var(--main-color);
}
.link:global(.active){
    color:var(--brand-color);
}

    