.range {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.from {
  border: none;
  border-right: 1px solid var(--border-color);
  border-radius: 14px 0 0 14px;
  width: 160px;
  height: 48px;
  background: var(--from-to-color);

  text-align: center;
}


.to {
  border-radius: 0 14px 14px 0;
  width: 160px;
  height: 48px;

  border: none;
  background: var(--from-to-color);
  text-align: center;
}
input::placeholder{
  color: #121417;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
}

.label {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: var(--label-color);
}
.inputContainer {
  display: flex;
  align-items: center;
}
